.react-tiny-modal {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  .modal-center {
    min-width: 200px;
    min-height: 200px;
  }
}

.react-tiny-popup {
  position: relative;
  vertical-align: middle;

  .popup-content {
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #333;
    position: absolute;
  }
}
